
body {
    font-family: "Lucida Grande", "Arial", sans-serif;
    background-color: hsl(74, 95%, 93%);
    position: relative;
}

header {
    position: sticky;
    top: 0;
    height: 80px;
    color: #fff;
    background-color: hsl(63, 56%, 38%);
    text-align: center;
    padding: 15px;
    border-color: hsl(63, 56%, 10%);
    border-style: dashed;
    /*z-index: 1; **after looked at answers */
}

main {
    border-color: hsl(63, 56%, 10%);
    border-style: double;
    padding: 15px;
}

article {
    background-color: hsl(63, 56%, 80%);
    border-color: hsl(63, 56%, 38%);
    border-style: solid;
    border-width: 3px;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.circle-one {
    display: inline-block;
    background: hsl(23, 100%, 65%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 2px 2px 10px black;
}

.circle-two {
    display: inline-block;
    background-color: hsl(23, 100%, 65%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 3px black;
    margin-left: 20px;
}

